# ignore all subdirectories, except specified ones
/*/

!/analysis/
!/asset/
!/dataset/
!/model/
!/process_data/
!/slurm/
!/utils/

analysis/*
utils/*.sh
process_data/data
.ipynb_checkpoints


!/analysis/*.py

*.pyc
*.swp

